.body {

}


.locatorSearchContainer {
  position: relative;
  background-color: #001930;
  height: 141px;
  max-width: 1520px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.locatorSearchInput {
  width: 340px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  padding-left: 22px;
  border: 1px solid #fff;
}

.locatorSearchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

}

.locatorInputWrapper {
  margin-right: 50px;
}

.locatorButtonWrapper {
  position: absolute;
  right: 70px;
  font-size: 0px;
}




.locatorSearchButton {
  -webkit-appearance: none;
  box-shadow: none !important;
  background: transparent;
  border: none !important;
}

.locatorSearchButton::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23002c50' d='M17.827 16.98c.23.233.23.612 0 .845a.587.587 0 0 1-.835 0l-3.243-3.284a8.147 8.147 0 0 1-5.505 2.153C3.698 16.694 0 12.949 0 8.347 0 3.744 3.698 0 8.244 0c4.545 0 8.243 3.744 8.243 8.347 0 2.029-.72 3.89-1.913 5.338l3.253 3.295m-9.583-1.482c3.894 0 7.062-3.209 7.062-7.151 0-3.943-3.168-7.151-7.062-7.151-3.895 0-7.063 3.208-7.063 7.15 0 3.943 3.168 7.152 7.063 7.152'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  width: 15px;
  height: 15px;
  content: "";
  display: block;
  font-size: 15px;
}
