.arrowRight .itemTitle--sgeli-accordion::after {
  content: "";
  vertical-align: text-bottom;
}


.arrowRight .itemTitle--meeting-class::after {
  margin-left: 250px;
  font-size: 50px;
}

.arrowRight .itemTitle--meeting-class {
  font-size: 8px;
}

.itemContainer--sgeli-accordion .itemTitle.itemContentActive::after {
  content: "";
}



/* THIS IS NOT WORKING */

.itemContainer--sgeli-accordion {
  align-items: flex-end;
}
/* THIS IS NOT WORKING */


.arrowRight .itemTitle--sgeli-accordion {
  border-radius: 25px;
  border: solid 1px;
  width: 166px;
  font-size: 10px;
  text-align: center;
  height: 32px;

}

:global(.vtex-flex-layout-0-x-flexCol--scegli-taglia) {
  flex-direction: row;
  align-items: baseline;
}

:global(.vtex-flex-layout-0-x-flexColChild--scegli-taglia) {
  width: 50%;
}

.codeby-product-specification-accordion-1-x-itemContentActive::after {
  margin-left: 50px;
}
