.arrow {
  color: #001930;
  font-family: "MuseoJHSans500";
  font-size: 18px;
  line-height: 21px;
}

.link {
  color: #001930;
  font-family: "MuseoJHSans500";
  font-size: 18px;
  line-height: 21px;
}

.term {
  color: #001930;
  font-family: "MuseoJHSans500";
  font-size: 18px;
  line-height: 21px;
}


