.menuContainer .menuItem:first-child {
  margin-bottom: 10px;
}

.menuContainer .menuItem:last-child {
  margin-bottom: 50px;
}

.footerLayout :global(.vtex-flex-layout-0-x-flexRow--menu-row) {
  color: #ffffff!important;
}

:global(.vtex-flex-layout-0-x-flexRow--main-header) .menuContainer {
  align-items: center;
}
:global(.vtex-flex-layout-0-x-flexRow--main-header) .menuItem:first-child,
:global(.vtex-flex-layout-0-x-flexRow--main-header) .menuItem:last-child {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*footer text styling */

:global(.vtex-store-footer-2-x-footerLayout) :global(.vtex-flex-layout-0-x-flexRow--menu-row) .styledLinkContent {
  color: white !important;
  font-family: "Avenir Light";
}

