
/*
:global(.vtex-styleguide-9-x-mh100) {
  width: 410px;
  height: 337px;
}

:global(.vtex-login-2-x-contentAlwaysWithOptions) {
  flex-direction: column;
}

:global(.vtex-login-2-x-formTitle) {
  font-family: MuseoJHSans900;
}

*/
