.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: flex-start!important;
  text-align: center;
}

.headingLevel2--shelfTitle {
  color: #001930;
  font-family: "Museo JH Sans 900";
  font-size: 35px;
  line-height: 29px;
  font-weight: 900;
  margin-left: 135px;
}

:global(.vtex-rich-text-0-x-paragraph--footerRich) {
  color: gray;
}



.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.paragraph--question {
  display: none;
}

.container--question .paragraph {
  max-width: 1528px;
}

:global(.vtex-rich-text-wrapper) {
  width: 1520px;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
}

:global(.vtex-rich-text-section) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

:global(.vtex-rich-text-title) {
  position: absolute;
  top: 400px;
  left: 50px;
  z-index: 900;
  width: 459px;
  height: 42px;
  text-shadow: 0 2px 30px #000000;
  color: #ffffff;
  font-family: "Museo JH Sans 900";
  font-size: 45px;
  line-height: 32px;

}
:global(.vtex-rich-text-link) {
  position: absolute;
  top: 480px;
  left: 60px;
  z-index: 900;
  color: #fff;
  border: solid 1px;
  border-radius: 50px;
  width: 190px;
  height: 50px;
  display: flex;
}

:global(.vtex-rich-text-href) {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  display: inherit;
  justify-content: center;
  align-items: center;
  font-family: "Museo JH Sans 900";
  font-size: 22px;
  text-transform: uppercase;
}

:global(.vtex-rich-text-image) {
  width: 100%;
}


.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}


.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

/*Mobile version styling begins here */


:global(.vtex-rich-text-0-x-headingLevel2--rich-text-backtoschoolMobile) {
  font-size: 20px;
}

:global(.vtex-rich-text-0-x-headingLevel2--rich-text-category-shelf-mobile) {
  font-size: 10px;
}

:global(.vtex-rich-text-0-x-headingLevel2--rich-text-armocromia-mobile) {
  font-size: 20px;
}

.paragraph--Prezzo {
  margin-bottom: 0px;
}
.paragraph--partire {
  margin-top: 0px;
}


:global(.vtex-rich-text-0-x-paragraph--footerRichMobile) {
  color: black;
  font-size: 8px;
  text-align: center;
}

