
.stackContainer--hatSliderStack  {
  width: 1520px;
  height: 670px;
}


.stackContainer--hatSliderStack :global(.vtex-store-components-3-x-infoCardContainer) {
  height: 670px;
  display: flex;
}


.stackContainer--hatSliderStack :global(.vtex-store-components-3-x-infoCardTextContainer) {
  align-content: flex-start;
  display: inherit;
  align-items: flex-start;
  align-self: flex-end;
  margin-bottom: 35px;
  width: 60%;
}

.stackContainer--hatSliderStack :global(.vtex-button) {
  background-color: white;
  border-color: white;
  width: 190px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  color: black;
  font-size: 22px;
  font-weight: bold;
  font-family: "MuseoJHSans900";
  transition: .3s;
}

:global(.vtex-store-components-3-x-infoCardHeadline--secondLayer) {
  position: absolute;
  top: 30px;
  width: 780px;
  max-width: 780px!important;
  height: 191px;
  color: #ffffff;
  font-family: "MuseoJHSans900"!important;
  font-size: 5vw!important;
  text-transform: uppercase;
  margin-left: 0px;
}
:global(.vtex-store-components-3-x-infoCardHeadline--firstLayer) {
  position: absolute;
  top: 100px;
  font-size: 6vw!important;
  font-family: "MuseoJHSans900"!important;
  left: 60px;
}

.stackContainer--hatSliderStack :global(.vtex-button):hover {
  background-color: #001930;
  border-color: #001930;
  color: white;
}


/*Mobile version styling begins here */

@media screen and (max-width: 768px) {
  :global(.vtex-store-components-3-x-infoCardContainer--firstStackWithImage) {
    width: 447px;
    height: 610px;
  }

  :global(.vtex-store-components-3-x-infoCardContainer--secondLayer) {
    width: 250px;
    height: 1100px;
  }

  :global(.vtex-store-components-3-x-infoCardTextContainer--firstStackWithImage) {
    align-content: flex-start;
    display: inherit;
    align-items: flex-start;
    align-self: flex-end;
    margin-bottom: 10px;
    width: 0%;
  }

  :global(.vtex-button) {
    background-color: white;
    border-color: white;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: "Museo JH Sans 900";
    transition: .3s;
  }

  :global(.vtex-button) :hover {
    background-color: #001930;
    border-color: #001930;
    color: white;
    border-radius: 50px;
  }

  .stackItem--secondLayer {
    bottom: 0;
    width: 50%;
  }
}
