.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}



@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #FFFFFF !important;
  color: #00263a;
  height: 50px;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  font-size: 14px;
  width: 81px;
  height: 19px;
  color: #001930;
  font-family: "Museo JH Sans -500";
  font-size: 14px;
  line-height: 19px;
}


.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: white;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--menu-text .flexColChild {
  height: 16px!important;
}

.flexRow--menu-social-networks .stretchChildrenWidth  {
  width: auto !important;
  margin-left: 45px;
  margin-right: 0px;
}

/* Styling for product page desktop version */

:global(.vtex-store-components-3-x-price_sellingPrice) {
  color: #001930;
  font-family: "Museo JH Sans 900";
  font-size: 25px;
  line-height: 29px;
}

:global(.vtex-store-components-3-x-productNameContainer) {
  color: #001930;
  font-family: "Museo JH Sans 900";
  font-size: 25px;
  line-height: 29px;
  font-weight: bold;
}

.flexRowContent--product-buy-button :global(.vtex-button) {
  background-color: black;
}

:global(.vtex-store-components-3-x-productImagesGallerySwiperContainer--image-to-hide) {
  display: none;
}

:global(.vtex-product-quantity-1-x-quantitySelectorStepper) {
  width: 32%;
  border: solid 1px;
}

:global(.vtex-styleguide-9-x-hideDecorators) {
  border-color: transparent;
}


/* Mobile styling begins here */

.flexRowContent--main-header-mobile {
  padding: 0px !important;
  height: 31px;
  background-color: #aeca3b!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowContent--menu-link {
  display: flex;
  justify-content: space-between;
}

.flexRowContent--row-networks-mobile {
  display: flex
}

.flexRowContent--row-4-mobile {
  display: flex;
  align-items: center;
}

.flexRowContent--privacy-policy-mobile {
  justify-content: flex-end;
}



