.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.sliderLayoutContainer :global (.salesSlider) {
  background-color: red;
  height: auto;
  color: red;
}

.slide--shelf :global(.vtex-store-components-3-x-infoCardContainer) {
  width: 406px;
  height: 405px;
}


.slide--shelf :global(.vtex-button) {
  background-color: transparent;
  border-color: transparent;
  text-decoration: none!important;
  text-transform: none;
  border: none;
  height: 49px;
  color: #001930;
  font-family: "MuseoJHSans500";
  font-size: 30px;
  line-height: 29px;
  margin-left: 15px;
}


.slide--shelf :global(.vtex-store-components-3-x-infoCardContainer) {
  position: relative;
}



.slide--shelf :global(.vtex-store-components-3-x-infoCardCallActionContainer) {
  position: absolute;
  top: 0px;
  left: -15px;
  height: 430px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 959999999;
  width: 100%;
  text-decoration: none;
}


.slideChildrenContainer--shelf {
  padding-bottom: 45px;
}

.slide--shelf :global(.vtex-slider-layout-0-x-paginationDot--shelf) {
  width: 500px;
  background-color: red;
}

.sliderLayoutContainer--shelf {
  margin-bottom: 180px;
}
.paginationDotsContainer--shelf {
  bottom: -90px;
}
.paginationDot--shelf {
  height: 3px !important;
  width: auto !important;
  max-width: 200px !important;
  padding: 0px;
  flex: 1;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
}



.paginationDotsContainer--hatSlider {
  bottom: 15px;
}


.paginationDot--hatSlider {
  height: 3px !important;
  width: auto !important;
  max-width: 100px !important;
  padding: 0px;
  flex: 1;
  border-radius: 0px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: white;
}

.paginationDot--hatSlider--isActive {
  background-color: #001930;
}

/* mobile styling begins here */

.sliderLayoutContainer--shelf-mobile {
  padding-right: 0px!important;
  padding-left: 10px!important;
}


.layoutContainer--shelf-mobile {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf-mobile {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}


.slide--shelf-mobile :global(.vtex-store-components-3-x-infoCardContainer) {
  width: 406px;
  height: 405px;
}


.slide--shelf-mobile :global(.vtex-button) {
  background-color: transparent;
  border-color: transparent;
  text-decoration: none!important;
  text-transform: none;
  border: none;
  height: 49px;
  color: #001930;
  font-family: "MuseoJHSans500";
  font-size: 30px;
  line-height: 29px;
  margin-left: 15px;
}


.slide--shelf-mobile :global(.vtex-store-components-3-x-infoCardContainer) {
  position: relative;
}






.slide--shelf-mobile :global(.vtex-slider-layout-0-x-paginationDot--shelf) {
  width: 500px;
  background-color: #001930;
}

.sliderLayoutContainer--shelf-mobile {
  margin-bottom: 180px;
}
.paginationDotsContainer--shelf-mobile {
  bottom: 0px;
}
.paginationDot--shelf-mobile {
  height: 3px !important;
  width: auto !important;
  max-width: 200px !important;
  padding: 0px;
  flex: 1;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
}


@media screen and (max-width: 768px) {

  .sliderTrack--shelf-mobile {
  justify-content: flex-start !important;
  }

  .paginationDotsContainer--shelf-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  .paginationDot--shelf-mobile--isActive {
    background-color: #001930;
  }

  .sliderLayoutContainer--shelf-mobile {
    margin-bottom: 30px!important;
  }

  .slide--shelf-mobile {
    margin-right: 20px;
  }
}
