.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}



@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #FFFFFF !important;
  color: #00263a;
  height: 50px;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  font-size: 14px;
  width: 81px;
  height: 19px;
  color: #001930;
  font-family: "MuseoJHSans500";
  font-size: 14px;
  line-height: 19px;
}

.flexCol--filterCol { max-width: 230px!important; min-width: 230px!important; }

/* Store loator css */

.flexRow--store-locator-home :global(.vtex-store-components-3-x-container){
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: white;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--menu-text .flexColChild {
  height: 16px!important;
}

.flexRow--menu-social-networks .stretchChildrenWidth  {
  width: auto !important;
  margin-left: 45px;
  margin-right: 0px;
}


/* Styling for product page desktop version */

:global(.vtex-store-components-3-x-price_sellingPrice) {
  color: #001930;
  font-family: "MuseoJHSans900";
  font-size: 25px;
  line-height: 29px;
}

.flexRow--product-name-price-section {
  border-bottom: 1px solid;
  border-color: #DCDCDC;
  padding-bottom: 5px;
}
.flexCol--product-name-price-section {
  justify-content: flex-end;
}

.flexRowContent--product-main-container {
  justify-content: space-between !important;
}

:global(.vtex-store-components-3-x-price_listPriceContainer--bottom-price-section){
  display: none;
}

:global(.vtex-store-components-3-x-price_sellingPriceLabel--bottom-price-section) {
  display: none;
}

:global(.vtex-store-components-3-x-productNameContainer) {
  color: #001930;
  font-family: "MuseoJHSans900";
  font-size: 25px;
  line-height: 29px;
  font-weight: bold;
}

.flexColChild--product-name-price-section :global(.vtex-product-price-1-x-savings--summary-discount-percentage) {
  width: 60px !important
}

.flexRowContent--product-name-price-section .stretchChildrenWidth:first-child .flexColChild--product-name-price-section {
  flex-direction: column !important;
  align-items: flex-start;
}

.flexCol--product-name-price-section {
  display: flex!important;
  flex-direction: row!important;
}
.flexColChild--product-name-price-section {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}

.flexRowContent--product-name-price-section .stretchChildrenWidth:first-child .flexCol--product-name-price-section {
  flex-direction: column !important;
  align-items: flex-start;
}



.flexRowContent--product-buy-button :global(.vtex-button) {
  background-color: #001930;
  border-color: #001930;
  border-radius: 20px;
  width: 336px;
}

.flexRowContent--product-buy-button :global(.vtex-button__label) {
  color: #ffffff;
  font-family: "MuseoJHSans900";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

:global(.vtex-store-components-3-x-productImagesGallerySwiperContainer--image-to-hide) {
  display: none;
}
/* store locator styling  dekstop */

:global(.vtex-rich-text-0-x-container--store-locator-rich-text) {
  position: absolute;
  width: 803px;
  height: 34px;
  color: #ffffff;
  font-family: "MuseoJHSans900";
  font-size: 35px;
  line-height: 29px;
  top: 0px;
  left: 10px;
  margin-left: 120px;
}

.flexRow--store-locator-home-mobile {
  position: relative;
}

.flexRow--store-locator-home :global(.vtex-store-components-3-x-container) {
  max-width: 100% !important;
}
.flexRowContent--store-locator-home .stretchChildrenWidth {
  width: 100% !important;
}
.flexRowContent--store-locator-home {
  flex-wrap: wrap;
  position: relative;
}

/* all products page */
:global(.vtex-flex-layout-0-x-flexCol--filterCol) {
  width: 300px!important;
}
/* all products page  END*/



/* Mobile styling begins here */

.flexRowContent--main-header-mobile {
  padding: 0px !important;
  height: 31px;
  background-color: #aeca3b!important;
  display: flex;
  justify-content: center;
  align-items: center;
}



.flexRowContent--menu-link {
  display: flex;
  justify-content: space-between;
}

.flexRowContent--row-networks-mobile {
  display: flex
}

.flexRowContent--row-4-mobile {
  display: flex;
  align-items: center;
}

.flexRowContent--privacy-policy-mobile {
  justify-content: flex-end;
}

/* mobile product page BEGINS here */

.flexRowContent--product-name-price-section {
  position: relative;
}

.flexCol--product-name-price-section {
  width: 50%!important;
  display: flex;
  position: absolute;
  right: 0px;
  top: 7px;
}
/* mobile product page ENDS here */
