:global(.vtex-shelf-1-x-container) .imageContainer {
   width: 400px;
   height: 430px;
 }

:global(.vtex-shelf-1-x-container) .imageNormal { max-height: unset!important; max-width: 100%!important; height: auto!important; width: 100%!important;}


.containerNormal {
  max-width: unset!important;
}

.clearLink :global(.vtex-button){
  display: none
}

.information {
  justify-content: flex-end;
}

